@import url('../../.config/waybar/colors.css');

* { 
    padding: 0;
    margin: 0;
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:5px;
    margin:9 0 6 10;
    border-radius:20px;
    color: @outline;
    background-color: alpha(@background, .70);;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    letter-spacing: -0.6px;
    min-height: 0;
}
.modules-center {
    padding:3px;
    margin:9 0 6 10;
    border-radius:20px;
    background-color: alpha(@background, .70);;
    color: @error;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bolder;
    min-height: 0px;
    letter-spacing: -10px;
    font-size: 110%;
}
.modules-right {
    padding:7px;
    margin: 9 10 6 0;
    border-radius:20px;
    color: @primary;
    background-color: alpha(@background, .70);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    letter-spacing: -0.5px;
}

tooltip {
    background:@background;
    color: @inverse_surface;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color: @primary;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@inverse_surface;
}
#clock{
    padding: 0px 10px;
    color: @inverse_surface;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 10px;
    transition: all .3s ease;
    color:@inverse_surface;

}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@primary, .3);
    transition: all .2s ease;
}
#workspaces button:hover {
    color: @primary;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all .2s ease;
}
#workspaces button.active {
    color: @primary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: alpha(@primary_container, .01);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: @primary;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 150ms ease;
}
#workspaces button.empty.active {
    color: @primary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@inverse_surface;

}
#pulseaudio{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@inverse_surface;

}
#pulseaudio:hover {
    color:@primary
}

#custom-media{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@inverse_surface;
}
#custom-media:hover{
    color:@primary
}
#pulseaudio.muted {
     color: @error;
}

#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:@inverse_surface;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:@primary;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@inverse_surface;

}
#memory:hover{
    color:@primary
}

#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(255, 266, 255, 1);
}

#tray{
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @inverse_surface;
}

#memory.warning {
    color: @error;
 }

#memory.critical {
    color: @error_container;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#custom-vpn {
    color: @inverse_surface;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#custom-vpn:hover {
    color: @primary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
