/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #1a1112;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #382e2e;

@define-color inverse_primary #8f4a50;

@define-color inverse_surface #f0dede;

@define-color on_background #f0dede;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #561d24;

@define-color on_primary_container #ffdadb;

@define-color on_primary_fixed #3b0811;

@define-color on_primary_fixed_variant #723339;

@define-color on_secondary #44292b;

@define-color on_secondary_container #ffdadb;

@define-color on_secondary_fixed #2c1517;

@define-color on_secondary_fixed_variant #5c3f41;

@define-color on_surface #f0dede;

@define-color on_surface_variant #d7c1c2;

@define-color on_tertiary #432c06;

@define-color on_tertiary_container #ffddb4;

@define-color on_tertiary_fixed #291800;

@define-color on_tertiary_fixed_variant #5c421a;

@define-color outline #9f8c8d;

@define-color outline_variant #524344;

@define-color primary #ffb2b7;

@define-color primary_container #723339;

@define-color primary_fixed #ffdadb;

@define-color primary_fixed_dim #ffb2b7;

@define-color scrim #000000;

@define-color secondary #e6bdbe;

@define-color secondary_container #5c3f41;

@define-color secondary_fixed #ffdadb;

@define-color secondary_fixed_dim #e6bdbe;

@define-color shadow #000000;

@define-color source_color #993d48;

@define-color surface #1a1112;

@define-color surface_bright #413737;

@define-color surface_container #271d1e;

@define-color surface_container_high #312828;

@define-color surface_container_highest #3d3233;

@define-color surface_container_low #22191a;

@define-color surface_container_lowest #140c0d;

@define-color surface_dim #1a1112;

@define-color surface_tint #ffb2b7;

@define-color surface_variant #524344;

@define-color tertiary #e7c08e;

@define-color tertiary_container #5c421a;

@define-color tertiary_fixed #ffddb4;

@define-color tertiary_fixed_dim #e7c08e;


